*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background: rgba(112, 112, 112, 0.527);
    animation: fadeInAnimation ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
  
nav{
    background: rgba(112, 112, 112, 0.63);
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: right;
}

nav ul{
    width: 100%;
    background-color:transparent;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

nav ul li{
    font-size: 18px;
    list-style: none;
    display: inline;
}

.p2 p{
    position: absolute;
    top: 150%;
    left: 40%;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.p2 h1{
    position: absolute;
    top: 110%;
    left: 40%;
    font-size: 64px;
    color: rgb(255, 255, 255);
}

.p2 {
    height:100vh;
}

header img{
    position: absolute;
    height: 45%;
    width: 31%;
    top: 30%;
    left: 5%;
    
}

a {
    color:black; background: transparent;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition:color .2s ease-out, background 1s ease-in;
    text-decoration: none;
  }
  a:hover { color:rgb(255, 187, 0); background:none; }

.intro {
    height: 100vh;
} 

.intro video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(moon.png) no-repeat;
    background-size: cover; 
}

section h1 {
    height: 100vh;
}

#logo{
    position: absolute;
}

#logo path:nth-child(1){
    stroke-dasharray: 1250px;
    stroke-dashoffset: 1250px;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2){
    stroke-dasharray: 450px;
    stroke-dashoffset: 450px; 
    animation: line-anim 2s ease forwards 0.2s;  
}

#logo path:nth-child(3){
    stroke-dasharray: 380px;
    stroke-dashoffset: 380px; 
    animation: line-anim 2s ease forwards 0.4s; 
}

#logo path:nth-child(4){
    stroke-dasharray: 360px;
    stroke-dashoffset: 360px;
    animation: line-anim 2s ease forwards 0.6s; 
}

#logo path:nth-child(5){
    stroke-dasharray: 297px;
    stroke-dashoffset: 297px; 
    animation: line-anim 2s ease forwards 0.8s;
}

#logo path:nth-child(6){
    stroke-dasharray: 625px;
    stroke-dashoffset: 625px;
    animation: line-anim 2s ease forwards 1s;
}

#logo path:nth-child(7){
    stroke-dasharray: 450px;
    stroke-dashoffset: 450px; 
    animation: line-anim 2s ease forwards 1.2s; 
}

#logo path:nth-child(8){
    stroke-dasharray: 345px;
    stroke-dashoffset: 345px;
    animation: line-anim 2s ease forwards 1.4s; 
}

#logo path:nth-child(9){
    stroke-dasharray: 297px;
    stroke-dashoffset: 297px;
    animation: line-anim 2s ease forwards 1.6s;
}

#logo path:nth-child(10){
    stroke-dasharray: 690px;
    stroke-dashoffset: 690px;
    animation: line-anim 2s ease forwards 1.8s;
}

#logo path:nth-child(11){
    stroke-dasharray: 450px;
    stroke-dashoffset: 450px;
    animation: line-anim 2s ease forwards 2s;
}

#logo path:nth-child(12){
    stroke-dasharray: 265px;
    stroke-dashoffset: 265px;
    animation: line-anim 2s ease forwards 2.2s;
}

#logo path:nth-child(13){
    stroke-dasharray: 210px;
    stroke-dashoffset: 210px;
    animation: line-anim 2s ease forwards 2.4s;
}

#logo path:nth-child(14){
    stroke-dasharray: 345px;
    stroke-dashoffset: 345px; 
    animation: line-anim 2s ease forwards 2.6s;
}

#logo path:nth-child(15){
    stroke-dasharray: 570px;
    stroke-dashoffset: 570px; 
    animation: line-anim 2s ease forwards 2.8s;
}

#logo path:nth-child(16){
    stroke-dasharray: 355px;
    stroke-dashoffset: 355px; 
    animation: line-anim 2s ease forwards 3s;
}

#logo path:nth-child(17){
    stroke-dasharray: 345px;
    stroke-dashoffset: 345px; 
    animation: line-anim 2s ease forwards 3.2s;
}

#logo path:nth-child(18){
    stroke-dasharray: 270px;
    stroke-dashoffset: 270px;
    animation: line-anim 2s ease forwards 3.4s;
}

#logo path:nth-child(19){
    stroke-dasharray: 297px;
    stroke-dashoffset: 297px;
    animation: line-anim 2s ease forwards 3.6s;
}

#logo path:nth-child(20){
    stroke-dasharray: 437px;
    stroke-dashoffset: 437px;
    animation: line-anim 2s ease forwards 3.8s;
}

#logo path:nth-child(21){
    stroke-dasharray: 297px;
    stroke-dashoffset: 297px;
    animation: line-anim 2s ease forwards 4s;
}

#logo path:nth-child(22){
    stroke-dasharray: 625px;
    stroke-dashoffset: 625px; 
    animation: line-anim 2s ease forwards 4.2s;
}

#logo path:nth-child(23){
    stroke-dasharray: 454px;
    stroke-dashoffset: 454px;
    animation: line-anim 2s ease forwards 4.4s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 